# MySQLサーバーへの設定
[mysqld]
default-authentication-plugin=mysql_native_password
# 文字コード/照合順序の設定
character-set-server = utf8mb4
collation-server = utf8mb4_bin

# Type your own certificates directory
#ssl-ca=/etc/certs/ca.pem
#ssl-cert=/etc/certs/server-cert.pem
#ssl-key=/etc/certs/server-key.pem
#require_secure_transport = ON
#bind-address = 0.0.0.0

# タイムゾーンの設定
explicit_defaults_for_timestamp = 1
#default-time-zone = SYSTEM
#log_timestamps = SYSTEM

# デフォルト認証プラグインの設定
#default-authentication-plugin = mysql_native_password

# エラーログの設定
log-error = /var/log/mysql/mysql-error.log

# スロークエリログの設定
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 5.0
log_queries_not_using_indexes = 0

# 実行ログの設定
general_log = 1
general_log_file = /var/log/mysql/mysql-query.log

# mysqlオプションの設定
[mysql]
# 文字コードの設定
default-character-set = utf8mb4

# mysqlクライアントツールの設定
[client]
# 文字コードの設定
default-character-set = utf8mb4